@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Arima+Madurai:wght@400;700&family=Roboto+Slab:wght@600;700&family=ZCOOL+XiaoWei&display=swap');

.contactUsNav{
    text-shadow: 0 0 5px #f5ff80;
}

.content{
    background-color: #030303;
}

.head{
    background-image: url(../Asset/contactUsBackground.png);
    background-size: cover;
    background-position: top;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab';
    width: 100%;
}

.tagline{
    text-align: center;
    text-shadow: 0 0 5px #f5ff80;
}

.tagline h2{
    font-size: 64px;
    font-weight: 600;
    padding-top: 170px;
}

.tagline h5{
    font-size: 24px;
    font-weight: 600;
    width: 546px;
    padding-top: 100px;
}

.main{
    display: flex;
    flex-direction: row;
    height: 58vh;
    background-color: #030303;
    font-family: 'Roboto Slab';
    margin-top: 70px;
    margin-left: 98px;
}

.main img{
    height: 36px;
    width: 36px;
}

.main p{
    font-size: 18px;
    font-weight: 600;
}

.location{
    text-align: center;
    padding-top: 15px;
}

.location h5{
    font-size: 24px;
    font-weight: 600;
}

.office{
    color: #9f0000;
    padding-top: 15px;
}

.line{
    border-left: 5px solid #FFFFFF;
    height: 312px;
    margin-left: 57px;
}

.social{
    padding-left: 64px;
}

.social img{
    padding-top: 15px;
}

.notFirst{
    padding-top: 7px;
}

.email img{
    width: 36px;
    height: 26px;
}

.contact{
    padding-top: 10px;
    padding-left: 240px;
}

.contact img{
    padding-top: 15px;
}

@media screen and (max-width: 768px) {
    .contactUsNav{
        text-shadow: 0 0 3px #f5ff80;
    }

    .head{
        height: 332px;
    }

    .tagline{
        text-shadow: 0 0 3px #f5ff80;
    }

    .tagline h2{
        font-size: 48px;
        padding-top: 102px;
    }
    
    .tagline h5{
        font-size: 18px;
        width: 410px;
        padding-top: 60px;
    }

    .main{
        margin: 0px;
        padding: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main img{
        height: 28px;
        width: 28px;
    }

    .main p{
        font-size: 14px;
    }

    .location{
        padding-top: 11px;
    }

    .location h5{
        font-size: 18px;
    }

    .office{
        padding-top: 11px;
    }

    .line{
        border-left: 0px;
        border-top: 3px solid #FFFFFF;
        width: 384px;
        height: 0px;
        margin-left: 0px;
        margin-top: 43px;
    }

    .social{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .social img{
        padding-top: 43px;
    }

    .notFirst{
        padding-top: 5px;
    }

    .email img{
        width: 28px;
        height: 20px;
    }

    .contact{
        padding-top: 66px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact img{
        padding-top: 34px;
    }
}

@media screen and (max-width: 425px) {
    .contactUsNav{
        text-shadow: 0 0 3px #f5ff80;
    }

    .head{
        height: 183px;
    }

    .tagline{
        text-shadow: 0 0 3px #f5ff80;
    }

    .tagline h2{
        font-size: 26px;
        padding-top: 56px;
    }
    
    .tagline h5{
        font-size: 10px;
        width: 226px;
        padding-top: 33px;
    }

    .main img{
        height: 19px;
        width: 19px;
    }

    .main p{
        font-size: 10px;
    }

    .location{
        padding-top: 8px;
    }

    .location h5{
        font-size: 13px;
    }

    .office{
        padding-top: 8px;
    }

    .line{
        border-top: 2px solid #FFFFFF;
        width: 264px;
        margin-top: 30px;
    }

    .social img{
        padding-top: 30px;
    }

    .notFirst{
        padding-top: 4px;
    }

    .email img{
        width: 19px;
        height: 14px;
    }

    .contact{
        padding-top: 36px;
    }

    .contact img{
        padding-top: 19px;
    }
}