.homeNav{
    text-shadow: 0 0 5px #f5ff80;
}

.content{
    background-color: #030303;
}

.headline{
    display: flex;
    flex-direction: row;
}

.headline img{
    width: 602px;
    height: 742px;
    object-fit: cover;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 65px;
    font-family: 'Roboto Slab';
    width: 100%;
}

.tagline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-shadow: 0 0 5px #f5ff80;
    margin-top: 35px;
    margin-left: 60px;
}

.tagline h2{
    font-size: 64px;
    font-weight: 600;   
}

.tagline h5{
    font-size: 18px;
    font-weight: 700;

}

.explain{
    display: flex;
    flex-direction: column;
    background-color: #030303;
    align-items: center;
    font-family: Roboto Slab;
    padding-bottom: 50px;
}

.explain h3{
    font-size: 32px;
    font-weight: 600;
}

.explain h3 span{
    color: #9F0000;
}

.explain p{
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    width: 650px;
}

.findMore{
    margin-top: 75px;
    background-color: #9F0000;
    border: none;
    width: 187px;
    height: 71px;
    color: #FFFFFF;
    font-family: 'Roboto Slab';
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.findMore:hover, .findMore:active{
    background-color: #6b0000;
    color: #727272;
}

@media screen and (max-width: 768px) {
    .homeNav{
        text-shadow: 0 0 3px #f5ff80;
    }

    .head{
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    .tagline{
        text-shadow: 0 0 4px #f5ff80;
        text-align: center;
        margin: 0px;
    }

    .headline img{
        width: 361px;
        height: 445px;
        padding-left: 100px;
    }

    .tagline h2{
        font-size: 46px;
    }

    .tagline h5{
        font-size: 13px;
    }

    .findMore{
        margin-top: 45px;
        margin-bottom: 45px;
        width: 112px;
        height: 43px;
        font-size: 13px;
        margin-left: 0px;
    }

    .explain{
        padding-bottom: 30px;
        height: 30vh;
        justify-content: center;
    }

    .explain h3{
        font-size: 23px;
    }

    .explain p{
        margin-top: 6px;
        font-size: 10px;
        width: 468px;
    }

    .headline{
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 426px) {
    .homeNav{
        text-shadow: 0 0 2px #f5ff80;
    }

    .tagline{
        text-shadow: 0 0 3px #f5ff80;
        text-align: center;
    }

    .headline img{
        width: 199px;
        height: 245px;
        padding-left: 55px;
    }

    .tagline h2{
        font-size: 24px;
    }

    .tagline h5{
        font-size: 6px;
    }

    .findMore{
        margin-top: 25px;
        margin-bottom: 25px;
        width: 62px;
        height: 24px;
        font-size: 7px;
    }

    .explain{
        padding-bottom: 17px;
    }

    .explain h3{
        font-size: 13px;
    }

    .explain p{
        margin-top: 3px;
        font-size: 5px;
        width: 258px;
    }
}